body{
    background-image: url(img/bg1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    width: 40%;
    margin-left: 400px;
    background-image: url(img/bg-h1.gif);
    background-position: center;
    background-size: cover;
    color:antiquewhite;
    display: block;
    text-align: center;
    font-size: 600%;
    font-family: monospace;
}

table{
    border-collapse: collapse;
    margin: 0 auto;
}